.btn {
  padding: 13px 21px;
  outline: 0;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 160px;
  text-transform: uppercase;
  box-shadow: 0px 3px 5px rgba(47, 85, 212, 0.3);
  font-family: $font-merriweather-sans;
}

@each $name, $colors in $button-colors {
  .btn--#{$name} {
    color: map-get($colors, 'color');
    background-color: map-get($colors, 'bg-color');
    transition: all 0.25s ease-in-out;
  
    &:hover {
      background-color: map-get($colors, 'bg-color-hover');
      color: map-get($colors, 'color-hover');
      cursor: pointer;
    }

    &[disable] {
      cursor: not-allowed;
      @if $name == 'default' {
        background-color: #cdcdcd;
      } @else {
        background-color: lighten(map-get($colors, 'bg-color'), 15%);
      }
    }
  }
}
